.card {
  aspect-ratio: 5/7;
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
}

.card-group,
.card {
  aspect-ratio: 5/7;
}

/*Big Card Pieces */
.card-group,
.big-card {
  width: 30vmin;
}


