.big-card {
  width: 30vmin;
  border-radius: 1vmin;
}

.big-card:nth-child(1) {
  background-color: rgba(0, 0, 255, 0.5);
  transform: translateX(-10%) rotate(-3deg);
}

.big-card:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.5);
  transform: translateX(-10%);
}

.big-card:nth-child(3) {
  background-color: rgba(0, 0, 255, 0.5);
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(4) {
  background-color: rgba(0, 0, 255, 0.5);
  transform: translateX(10%, 3%) rotate(5deg);
}